[Unit]
Description=Python SSH Server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/ssh_server
Restart=on-abort

[Install]
WantedBy=multi-user.target